.App {
  text-align: center;
}

.add-todo {
  margin: 1rem;
}

.add-btn {
  margin: 25px 10px;
  border: 1px solid black;
  border-radius: 2px;
  padding: 8px;
}

.todo-list {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: auto;
  flex-wrap: wrap;
}
.todo-items{
  display: flex;
  flex-direction: column;
  width: 80px;
  margin: auto;
  flex-wrap: wrap;

}
.todo-id{
  display: flex;
  align-items: center; 
   justify-content: center;
}
.todo-name{
  margin-left: 1rem;
  font-size: 1rem;
}
.textarea-field{
  margin-top: 1rem;
}
.single-todo-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
}
.single-page-todo{
  border: 1px brown dashed;
  text-decoration: none;
  border-radius: 1rem;
  width: max-content;
  padding: 5rem;
  margin: auto;
}
.todo-desc{
  font-size: 1.5rem;
  color: black;
}
.back-todo-btn{
  padding: 5px;
  margin-top: 1rem;
  border: 1px black solid;
  border-radius: 5px;
  cursor: pointer;
}
.title-err-handler{
  color: red;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
/* css for loader */
.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(239, 236, 236, 0.834);
  z-index: 1;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}
.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  animation: bg 1s;
}
@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
